<div class="row" ng-hide="goal._id">
  <div class="col-md-6">
      <h2>Create new goal</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Goal Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="goal.goalName" required> 
    </p>
    <p>
      <label>Goal Date (required)</label> 
      <input id="name" class="form-control" type="date" ng-model="goal.goalDate" required> 
    </p>
    <p>
      <label>Goal Category (required)</label> 
      <select ng-model="goal.goalCategory" required>
        <option value="finances">Finances</option>
        <option value="health">Health</option>
        <option value="family">Family</option>
        <option value="knowledge">Knowledge</option>
        <option value="friendship">Friendship</option>
      </select> 
    </p>
    <div ng-repeat="choice in choices">
      <p>
        <label>Measurable Steps (required)</label> 
        <input id="name" class="form-control" type="text" ng-model="'goal.measurableSteps' + choice.id" required> 
      </p>
         <button ng-click="addStep()">Add</button>
    </div>
    <div>
      <p>
        <label>Goal Statement (required)</label> 
        <input id="name" class="form-control" type="text" ng-model="goal.goalStatement" required> 
      </p>
    </div>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveGoal(goal)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>